 <p><id="notice"><%= notice %></p>
 <div class="row">
 	<div class="col-xs-1"></div>
 	<div class="col-xs-11">
 		<strong class="title">Post:</strong>
 	</div>
 </div>
 <div class="row">
 	<div class="col-xs-1"></div>
 	<div class="col-xs-8"><%= @post.post %></div>
 	<div class="col-xs-3"></div>
 </div>


 <%= link_to 'Back', posts_path %>
